.about {
    display: flex;
    
    justify-content: center;
    flex-wrap: wrap;
    color:rgb(96, 92, 133);
    border-width: 5px;
    padding: 15px;
  

}

.aboutImg {
    padding: 1%;
    /* margin: 10%; */
    border: inset 2px;
   
    background-color: rgb(126, 84, 123);
}

.aboutText {
    
  
    padding: 5px;
    margin: 5px;
    color:rgb(126, 84, 123);
    
}

.blurb {
    padding: 50px;
    margin: 50px;
    display: flex;
    justify-content: center;

}