.aboutContainer {
    height: 60vh
}

.aboutMe {
    
    justify-content: center;
    padding: 15px
}

.about {
    display: flex;
    border-width: 5px;
    padding: 15px;
  

}

.aboutImg {
    padding: 5px;
    margin: 5px;
    border: inset 2px;
    border-width: 5px;
    background-color: rgb(199, 214, 130);
}

.aboutText {
    padding: 15px;
    margin: 15px;
    
}