/* .formContainer{
  height: 55vh
} */

.form { 
    margin: 20px;
    padding: 30px;
    display: flex;
    justify-content: center;

  } 
  
.form input {
   
    justify-content: center;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 50%;
  }