/* .header {
    background: #83c5be;
    color: #ffddd2;
    display: flex;
    justify-content: center;
    padding: 15px
} */

.header {
    background: rgb(85, 77, 130);
    color: white;
    display: flex;
    justify-content: flex-start;
    padding: 3%;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}